
# Created by https://www.toptal.com/developers/gitignore/api/database,dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=database,dotnetcore

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

# End of https://www.toptal.com/developers/gitignore/api/database,dotnetcore